@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Funnel Sans" , sans-serif;
}

ul{
    list-style: none;
    cursor: pointer;
}

:root{
    --blue-sidebar: #40b9f1;
    --white: #fff;
    --main-background: #E2E8F0;
    --border-color: #40b9f1;
    
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap:50px;
    justify-content: start;
    grid-area: 1/1/3/2;
    background-color: var(--blue-sidebar);
    color: var(--white);
    padding:20px
}

.dashboard>img{
    height: 50px;
    filter: invert(100%)

}
.dashboard-list > img{
    height: 40px;
    width: 40px;
    margin-left: 30px;
    filter: invert(100%)
    
}


.dashboard-list, .dashboard{
    display: flex;
    align-items: center;
    gap:15px ;

    
}

.sidebar{
    font-size: larger;
    font-weight: 900;
}

.navbar{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:10px;
    padding: 20px;
    background-color: var(--white) ;
    box-shadow: 0 8px 10px -15px black;
    z-index: 2;
}

.navbar img{
    width: 30px;
    height: 30px;
}

.top-left, .top-right , .bottom-left, .bottom-right{
    display: flex;
    gap:20px;
    align-items: center;
}

.top-right,.bottom-right{
    justify-content: space-evenly;
}
input{
    width: 800px;
    height: 40px;
    background-color: var(--main-background);
    border: none;
    border-radius: 50px;
}
#prof{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#profileimg{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
small{
    font-weight: 900;
    font-size: 15px;
}
button{
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 40px;
    border: none;
    background-color: var(--blue-sidebar);
    border-radius: 50px;
    color: var(--white);
}
.main-content{
    background-color: var(--main-background);
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}


.left-main{
    grid-area: 1/1/2/2;
    
}


.right-main{
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    gap: 30px;
}

.pic>img{
    width:20px;
    height: 20px;
}

.top{
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 300px;
    justify-content: center;
}

.caaaardss{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 15px;
}
.left-main>h1{
    margin: 15px;
}
.cards{
    background-color: var(--white);
    height: 300px;
    padding: 10px;
    border-left: var(--border-color) 10px solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    
}

.pic{
    display: flex;
    justify-content: end;
    align-items: end;
    gap:8px
}
.cards>h4{
    font-size: 22px;
}

.background{
    background-color: var(--white);
    padding: 30px;
    border-radius: 25px;
    box-shadow: 1px 5px 8px -5px black;
    display: flex;
    flex-direction: column;
    gap:15px;
}

.bottom{
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.trending{
    display: flex;
    gap:15px;
}

.trending>img{
    width: 50px;
    height:50px;
    border-radius: 50px;
}

.top h4 , .bottom h4{
    font-size: 25px;
}