*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

:root{
    --blue-sidebar: #1992D4;
    --white: #fff;
    --main-background: #E2E8F0
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 3fr;
}

.sidebar{
    display: grid;
    grid-area: 1/1/3/2;
    gap: 8px;
    background-color: var(--blue-sidebar);
    color: var(--white);
}

.dashboard>img{
    height: 50px;

}
.dashboard-list > img{
    height: 30px;
    width: 30px;
}


.dashboard-list, .dashboard{
    display: flex;
    align-items: center;
    gap:15px 10px;
}


.navbar{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:20px;
    padding: 20px;
    background-color: var(--white) ;
    box-shadow: 0 8px 10px -15px black;
    z-index: 2;
}

.navbar img{
    width: 30px;
    height: 30px;
}

.top-left, .top-right , .bottom-left, .bottom-right{
    display: flex;
    gap:20px;
    align-items: center;
}

.top-right,.bottom-right{
    justify-content: space-evenly;
}
input{
    width: 800px;
    height: 40px;
    background-color: var(--main-background);
    border: none;
    border-radius: 50px;
}
#prof{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#profileimg{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
small{
    font-weight: 900;
    font-size: 15px;
}
button{
    padding: 10px 40px;
    border: none;
    background-color: var(--blue-sidebar);
    border-radius: 50px;
}
.main-content{
    background-color: var(--main-background);
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}